$font-stack:    'Open Sans';
$primary-color: #49A796;

/***General-Styles***/

* {
  box-sizing: border-box;
}
html body *:focus {
  outline: none;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  font-size: 16px;
  line-height: 150%;
}

/***Nav-Styles***/
.navs {
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.5s ease;
}

.solidNav {
  background-color: $primary-color;
}

body .navbar {
  margin-bottom: 0;
}

.navbar .navbar-header .navbar-brand {
    color: #fff;
    font-family: $font-stack;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

.navbar ul a {
  color: #fff;
  font-family: $font-stack;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.navbar ul a:hover {
  color: $primary-color;
  background-color: #fff;
}
.icon-bar {
  background-color: #fff;
}

/***Header-Styles***/

.header {
  width: 100%;
  background: url(../images/background.jpg);
  height: 1100px;
  overflow: hidden;
  background-size: cover;
  background-position: 100% -80px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.headline {
  margin-top: 300px;
  text-align: center;
}

/***Section-Styles***/

.about-section {
  text-align: center;
  color: #000;
  margin-top: 460px;
}

.dark-section {
  color: #fff;
  padding-top: 10%;
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
}

.dark-section p {
  width: 87%;
  margin: 0 auto;
}

.dark-section::before {
  content: '';
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 120%;
  background-color: #2D2E40;
  position: absolute;
  transform: skewY(-5deg);
}

.light-section {
  margin-top: 200px;
  background-color: #fff;
  color: #000;
  padding: 150px 0 50px 0;
}
.resume {
  margin: 0 auto;
}

.education {
  margin-top: 50px;
}

.dark-section-straight {
  margin-top: -100px;
  background-color: #2D2E40;
  height: 200px;
}

/***Button-and-Form-Styles***/
input[name=name], input[name=_replyto], textarea[name=message] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  box-shadow: none;
}
textarea[name=message] {
  rows: "10";
}
input[name=name]:focus, input[name=_replyto]:focus, textarea[name=message]:focus {
  box-shadow: none;
  border: 1px solid $primary-color;
}
.button{
  background-color: transparent;
  padding: 8px 40px;
  border-radius: 2px;
  font-size: 18px;
  font-family: $font-stack, sans-serif;
  color: $primary-color;
  border: 2px solid $primary-color;
}
.button:hover{
  background-color: $primary-color;
  color: #fff;
}
.button:focus{
  background-color: $primary-color;
  color: #fff;
  outline: none;
}
form {
  margin-bottom: 30px;
}

/***Portfolio-Styles***/
.light-section img {
  width: 250px;
}
.piece {
  width: 250px;
  display: inline-block;
  margin: 0 5px;
  overflow: none;
}
.piece:hover .piece-hover {
	opacity: .85;
}
.piece-hover {
	background: $primary-color;
	position:absolute;
  width: 250px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  margin: 0 auto;
	opacity:0;
	text-align:center;
	color:#FFF;
  display: flex;
  align-items: center;
  justify-content: center;
	transition:opacity .2s;
	-ms-transition:opacity .2s;
	-moz-transition:opacity .2s;
	-webkit-transition:opacity .2s;
}
.piece-title{
	font-size: 20px;
	margin-bottom: -3px;
}
.piece-type{
	font-style: italic;
  margin-top: 10px;
}
.quote-one {
  margin-top: 50px;
}
.quote-two {
  margin-top: 5px;
}
.light-section blockquote {
  border-left: 5px solid $primary-color;
}
.quotation {
  font-family: Georgia;
  font-size: 40px;
  line-height: 50%;
  vertical-align: middle;
  color: #b1b1b1;
}

.footer {
  margin-bottom: 60px;
}

/***Project-Styles***/
.project {
  background-color: #fff;
  color: #000;
  padding: 70px 0 40px 0;
}
.project .first-hr {
  margin: 30px 0;
}
.project .second-hr {
  margin: 50px 0 30px 0;
}
.project .img-top {
  border: 1px solid #E0E0E0;
  max-width: 100%;
  margin-top: 60px;
}
.project .img-results {
  max-width: 100%;
  margin-top: 20px;
}
.project p {
  text-align: justify;
}

/***Text-Styles***/

h1 {
  font-size: 44px;
  color: #fff;
  font-family: $font-stack, sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
}

h1 span {
  font-family: serif;
  font-style: italic;
  font-weight: 200;
}

.project-name {
  font-size: 30px;
  color: #1c1c1c;
  font-family: $font-stack, sans-serif;
  font-weight: 500;
}

h2 {
  text-align:center;
  font-size:26px;
  font-family: $font-stack;
  margin-bottom:30px;
  display: inline-block;
  font-weight: 700;
}

.header h3 {
  color: #fff;
  font-size: 20px;
  max-width: 500px;
}

.row h3 {
  color: #fff;
  font-size: 20px;
  width: 87%;
  margin: 10px auto;
}

.dark-section h2 {
  text-align: center;
  color: $primary-color;
}

.light-section h2, .project h2 {
  text-align: center;
  color: #000;
}

h3 .fa:first-child {
  margin-right: 10px;
}

h3 .fa {
  margin-right: 6px;
}

h4 {
  color: $primary-color;
  width: 87%;
  margin: 24px auto 3px auto;
}
.resume .title {
  font-style: italic;
}

/***list-styles***/

.resume ul {
  list-style: none;
}

.resume experience ul {
  list-style: none;
  padding-left: auto;
}

.resume ul li:before {
  content: '›';
  margin-right: 10px;
}

.skills li {
  color: $primary-color;
}

/***responsive-styles***/

@media (max-width: 1199px) {
  .light-section .col-sm-6, .light-section .col-md-6  {
    margin-bottom: 30px;
  }
}
@media (max-width: 1175px) {
  .headline {
    margin: 17% 0 0 3%;
  }
  .header h3 {
    margin-left: 3%;
  }
  .header {
    background-position: 100% -30%;
  }
  .header h3 {
    padding: 10px;
    font-size: 19px;
  }
}
@media (max-width: 1000px) {
  .header {
    background-position: 100% -150%;
  }
}
@media (max-width: 991px) {
  .skills {
    margin-bottom: 45px;
  }
  .headline {
    margin: 34% 0 0 3%;
  }
}
